.button-input{
    width: 40px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: #eeeeee;
    margin: 1px;
    display: inline-block;
    text-decoration: none;
    color:black
}
.special-button{
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.button-input:hover{
    color: white;
    transition: 0.5s;
    border: 1px solid red;
    background-color: forestgreen;
    margin: 1px;
    display: inline-block;
}

.button-input-selected{
    text-decoration: none;
    width: 40px;
    color: white;
    border: 1px solid black;
    border-radius: 6px;
    background-color: green;
    margin: 1px;
    display: inline-block;
}